.header, .footer {
    background-color: orange;
    color: white;
}
.padded-item {
    padding-top: 10px;
}
.header-links, .footer-links {
    padding-left: 40px;
}
.header-link, .footer-link {
    color: white;
}
.header-icon-item {
    padding-top: 5px;
}
.header-icon {
    width: 30px;
}
.title {
    height: 80px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    color: orange;
    background-color: #FDEADC;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: 2px;
}
.navigation {
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-bottom-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation-items {
    padding-left: 40px;
}
.navigation-link {
    color: black;
}
.searchbar {
    padding-top: 3px;
}
.searchbar-input {
    border-style: solid;
    border-color: orange;
}
.content {
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-item {
    padding-left: 55px;
    max-height: 170px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: orange;
}
.content-item-heading {
    color: orange;
    text-transform: uppercase;
    font-size: 14pt;
}
.content-item-subheading {
    color: black;
    font-size: 12pt;
}
.content-image-holder {
    text-align: right;
}
.content-image {
    height: 110pt;
    padding-bottom: 5px;
}
.orange {
    color: orange !important;
}
.content-item-more:hover,
.header-icon-item:hover,
.input-group-addon:hover,
.content-more {
    cursor: pointer;
}
.favorites {
    padding: 7px;
    height: 270px;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
}
.favorites-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    color: orange;
    margin-bottom: 7px;
}
.favorites-item-heading {
    color: orange;
    font-weight: bold;
    font-size: 8pt;
}
.favorites-item-text {
    font-size: 8pt;
}
.banners {
    height: 200px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-size: 500px 190px;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#banner-badge {
    background-color: #BE0712;
    color: white;
    padding-top: 7px;
    height: 55px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    border-style: solid;
    border-color: #BE0712;
    margin-top: 15px;
}
#banner-text {
    color: black;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    background-color: white;
}
#banner-subtext {
    color: #BE0712;
    font-weight: bold;
    font-size: small;
    text-align: center;
    background-color: white;
}
#banner-action {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 5px;
    background-color: white;
}
.bold {
    font-weight: bold;
}